<%= form_for @message, remote: true do |f| %>
  <div class="panel">
    <%= f.text_area :text, rows: 4, placeholder: 'Describe your data goals in a short summary' %>
    <%= f.filepicker_field :file, { 
      button_class: 'filepicker-button button tiny secondary', 
      button_text: 'Upload File',
      multiple: true,
      services: 'COMPUTER',
      dragdrop: true,
      drag_text: 'or drop files here',
      drag_class: 'drop-files'
      } %>
  </div>  
  <%= f.submit 'Send', disabled: true, class: 'right send button disabled' %>
<% end %>  


<% if false %>
  <div id='error'>Your message must be 140 characters or less</div>
  <div id="success_message">
    Thank you for your sharing your needs with us, we will get back to you shortly.<br>
    <%= link_to "Send another message", "#", remote: true, class: "send-another-message" %>
  </div>  
<% end %>  