<%= form_for @message, remote: true do |f| %>
  <div class="panel">
    <div id="message_error" class="error"></div>
    <%= f.text_area :text, rows: 4, placeholder: t('templates.message.placeholder') %>
    <%= f.filepicker_field :file, { 
      button_class: 'filepicker-button button tiny secondary', 
      button_text: 'Upload File',
      multiple: true,
      services: 'COMPUTER',
      dragdrop: true,
      drag_text: 'or drop files here',
      drag_class: 'drop-files'
      } %>
  </div>  
  <%= f.check_box :error %> force ajax error
  <%= f.submit 'Send', disabled: true, class: 'right send button disabled' %>

<% end %>  