<div class='row>'>
  <div class="medium-12 columns">
    <div class='heading'>
      <h3><%= t('templates.header') %></h3>
      <p><%= t('templates.subheader') %></p>
      <br>
      <p><b><%= t('templates.prompt') %></b></p>
    </div>

    <%= content_tag "div", id: "templates", data: {templates: @templates} do %>
      <ul id="grid" class="small-block-grid-4"></ul>  
    <% end %>

    <%= link_to "#{t('templates.show_more_link')} &#x25BE;".html_safe, "#", remote: true, class: 'right more' %>
    <hr>
  </div>

</div>

<div class='row'>
  <div class="medium-3 columns">
    <h5><%= t('templates.help.prompt') %></h5>
    <ul>
      <li><%= link_to t('templates.help.link_1'), "#" %></li>
      <li><%= link_to t('templates.help.link_2'), "#" %></li>
      <li><%= link_to t('templates.help.link_3'), "#" %></li>
    </ul> 
  </div>
  <div class="medium-9 columns">
    <h5><%= t('templates.message.prompt') %></h5>
    <div id='send_message'>
      <p><%= t('templates.message.instructions') %></p>
      <%= render partial: "messages/form" %>
    </div>  
  </div>  
</div>


